@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$ff-primary: "Montserrat", sans-serif;
$nav-color: #0e1d33;
$title-color: #1e1e1e;
$dark-color: #151515;
$light-color: #efefef;
$secondary-color: #e77e00;

$affirmation-border: 5px 5px 0px 0px #e77e00, 10px 10px 0px 0px #eea44c,
  15px 15px 0px 0px #f3be7f, 20px 20px 0px 0px #f7d8b2,
  25px 25px 0px 0px #fcf2e5, 5px 5px 15px 5px rgba(255, 145, 23, 0);
$affirmation-bg: radial-gradient(
  ellipse at center,
  #ffffff 0%,
  #ffe4c8 83%,
  #e7a455 100%
);

$quotes-border: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
  -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d,
  5px 5px 15px 5px rgba(255, 145, 23, 0);
