@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$ff-primary: "Montserrat", sans-serif;
$nav-color: #0e1d33;
$title-color: #1e1e1e;
$text-color: #dedede;
$dark-color: #151515;
$light-color: #efefef;
$secondary-color: #e77e00;

$bg-color: #1e1e1e;
