@import "config", "nav", "sectionOne", "sectionTwo";

body {
  font-family: $ff-primary;
  background-color: $light-color;
}
h3,
h4 {
  color: $title-color;
  font-size: 20px;
}
p {
  color: $dark-color;
}

img:not(nav > img) {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
