@import "./config";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: $ff-primary;
  background-color: $bg-color;
  color: $text-color;
}
h1,
h2,
h3,
h4,
h5 {
  color: $text-color;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3,
h4,
h5 {
  font-size: 1.6rem;
}
p,
a,
span {
  font-size: 1.4rem;
}

blockquote {
  font-size: 1.2rem;
}
cite {
  font-size: 1rem;
}
a {
  color: $text-color;
  text-decoration: none;
  &:visited {
    color: $text-color;
  }
}

.loading {
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #0e1d33;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
}
@import "./components/header", "./components/images";
@import "./components/affirmation", "./components/quotes";
@import "./components/waa", "./components/mealDrink";

@import "mediaQueries";
