@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efefef;
}

h2,
h3,
h4 {
  color: #1e1e1e;
  font-size: 20px;
}

p {
  color: #151515;
}

img:not(header > img) {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.waa-container {
  outline: 1px solid red;
  outline-offset: 5px;
}

.waa-component {
  border: 1px dashed green;
  margin: 4px;
}

header {
  background-color: #0e1d33;
  position: relative;
  height: 120px;
}

header img {
  position: absolute;
  width: 250px;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0 50px 10px 40px;
  mix-blend-mode: luminosity;
}
