@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1e1e1e;
  color: #dedede;
}

h1,
h2,
h3,
h4,
h5 {
  color: #dedede;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3,
h4,
h5 {
  font-size: 1.6rem;
}

p,
a,
span {
  font-size: 1.4rem;
}

blockquote {
  font-size: 1.2rem;
}

cite {
  font-size: 1rem;
}

a {
  color: #dedede;
  text-decoration: none;
}

a:visited {
  color: #dedede;
}

.loading {
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #0e1d33;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
}

header {
  height: 8rem;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.65) 0%, rgba(14, 29, 51, 0.31) 53%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

header img {
  position: absolute;
  width: 90%;
  max-width: 20rem;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 64% 36% 74% 26% / 0% 78% 22% 100%;
  z-index: 9;
  mix-blend-mode: color;
}

.image-container {
  width: 100%;
  height: 50rem;
}

.image-container figure {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container figure::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  outline: 1px dotted #aaa;
  outline-offset: -2rem;
  border: 1px solid #999;
}

.image-container figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container:first-of-type {
  height: 30rem;
}

.affirmation-container {
  width: 80%;
  max-width: 40rem;
  margin: 10rem auto;
}

.affirmation-container fieldset {
  border-radius: 5px;
  padding: 1rem;
  border-color: #dcd0c0;
  text-align: center;
}

.affirmation-container fieldset legend {
  letter-spacing: 4px;
}

.affirmation-container fieldset legend h2 {
  color: #da635d;
  padding: 0 0.5rem;
}

.quotes-container {
  width: 90%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
}

.quotes-container .quote {
  width: 100%;
  padding: 1rem;
  border-top: 5px solid #dcd0c0;
  border-right: 5px solid #b1938b;
  border-bottom: 5px solid #4e4e56;
  border-left: 5px solid #da635d;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.quotes-container .quote blockquote {
  line-height: 1.4;
}

.quotes-container .quote cite {
  padding-top: 1rem;
  text-align: right;
  width: 100%;
}

@media (min-width: 600px) {
  .quotes-container {
    flex-direction: row;
  }
  .quotes-container .quote {
    width: 50%;
    margin: 0;
  }
  #dailyQuote-container {
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: -1rem;
    margin-top: 4rem;
  }
  #dailyStoicQuote-container {
    align-self: flex-start;
  }
}

.waa-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  margin: 10rem auto;
  align-items: center;
}

.waa-component {
  border-radius: 20px;
  width: 100%;
  max-width: 30rem;
  height: 20rem;
  padding: 1rem;
  box-shadow: 5px 5px 10px 1px rgba(255, 255, 255, 0.2);
  margin: 2rem 2rem;
}

.waa-component span {
  font-weight: 900;
}

.waa-component h3 {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #151515;
}

.waa-component div {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5;
  height: 80%;
}

.waa-component:first-of-type h3 {
  border-bottom: 2px solid #dcd0c0;
}

.waa-component:nth-child(2) h3 {
  border-bottom: 2px solid #da635d;
}

.waa-component:last-child h3 {
  border-bottom: 2px solid #b1938b;
}

.meal-drink {
  width: 95%;
  margin: 10rem auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.meal-drink article {
  margin-bottom: 8rem;
  width: 100%;
  height: 35rem;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-drink article h3 {
  height: 10%;
}

.meal-drink article div {
  width: 100%;
  height: 85%;
  max-width: 35rem;
  align-self: center;
  box-shadow: 5px 5px 10px 1px rgba(255, 255, 255, 0.2);
  background-color: #1d1d1d;
  border-radius: 15px;
}

.meal-drink article div figure {
  height: 70%;
  width: 100%;
  border-bottom: 4px solid black;
}

.meal-drink article div figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.meal-drink article div h4 {
  height: 10%;
  padding: 0.5rem 0 0.5rem 1rem;
}

.meal-drink article div p {
  height: 20%;
  padding: 0.5rem 0 0.5rem 1rem;
}

.meal-drink #meal a {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 20px;
  }
}
